<div class="container my-5">
    <form [formGroup]="tranForm">

        <div class="form-group">
            <label for="exampleInputEmail1">Account Type</label>
            <select class="form-control" (change)="onChangeAccountType()" formControlName="accountType" id="orders">
    
                    <option value="saving" >saving</option>
                    <option value="current" >current</option>
                </select>
            <div *ngIf="accountType.invalid && (accountType.dirty || accountType.touched)">
                <small *ngIf="accountType.errors.required" class="form-text text-muted">Account type is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">transaction type</label>
            <select formControlName="transactionType" (change)="onChangeTransactionType()" class="form-control">
        
                        <option value="credit">credit</option>
                        <option value="debit">debit</option>
                    </select>
            <div *ngIf="transactionType.invalid && (transactionType.dirty || transactionType.touched)">
                <small *ngIf="transactionType.errors.required" class="form-text text-muted">Account type is required</small>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Transaction Via</label>
            <select class="form-control" formControlName="transactionVia" id="orders">
        
                        <option *ngFor="let option of options" [value]="option">{{option}}</option>
                        
                    </select>
            <div *ngIf="transactionVia.invalid && (transactionVia.dirty || transactionVia.touched)">
                <small *ngIf="transactionVia.errors.required" class="form-text text-muted">Account type is required</small>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">account no</label>
            <input type="text" class="form-control" formControlName="accountNo" placeholder="Enter AccountNo">
            <div *ngIf="accountNo.invalid && (accountNo.dirty || accountNo.touched)">
                <small *ngIf="accountNo.errors.required" class="form-text text-muted">Enter Account No</small>

            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">amount</label>
            <input type="number" class="form-control" (focusout)="onFocusOutAmount()" formControlName="amount" placeholder="Enter Amount">
            <div *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                <small *ngIf="amount.errors.required" class="form-text text-muted">enter the amount</small>
                <small *ngIf="amount.errors.max" class="form-text text-muted">amount should not be more than {{amount.errors.max.max}}</small>
            </div>
        </div>
        <div *ngIf="enablePan" class="shadow">
            <div class="form-group">
                <label for="exampleInputEmail1">Enter PAN</label>
                <input type="text" class="form-control" formControlName="panNo" placeholder="Enter Amount">
                <div *ngIf="panNo.invalid && (panNo.dirty || panNo.touched)">
                    <small *ngIf="panNo.errors.required" class="form-text text-muted">pancard is must for transaction amount > 50000</small>

                </div>
            </div>

            <!-- file upload -->
            <div class="form-group">
                <label for="club_image_url">PAN image:</label>

                <label class="form-control" title="Choose Image">{{currentFileUploadName}}
                <input class="form-control" style="display:none" id="clubName" name="club_image_url" type="file" accept="image/*"
                  (change)="selectFile($event)">
              </label> &nbsp;
                <button [disabled]="currentFileUploadName == 'No File Chosen'" class="btn btn-primary" (click)=onUpload()>
                Upload
              </button>


                <br>
            </div>
            <div class="form-group row">

                <label class="control-label col-sm-9">(Maximum Upload File-Size is 2 MB) (Allowed types are JPEG,JPG and PNG
              only) </label>
            </div>

            <div class="form-group row">
                <div class="progress progress-bar-animated w-100" *ngIf="currentFileUpload">
                    <div class="progress-bar " role="progressbar" [attr.aria-valuenow]="progress.percentage" aria-valuemin="0" aria-valuemax="100">{{progress.percentage}}%</div>
                </div>
            </div>
            <div *ngIf="fileSizeExceed">
                <small class="alert-danger">Please enter file Size less than 2MB</small>

            </div>

            <div *ngIf="tranForm.errors">
                <small *ngIf="tranForm.errors.requiredOneOfPan" class="alert-danger"> one of this is required</small>
            </div>
        </div>
        <button [disabled]="tranForm.invalid" class="btn btn-primary" (click)="makeTransaction()">make transaction</button>

    </form>

    <div *ngIf="error">
        <small class="form-text alert-danger"> {{errorMessage}}</small>
    </div>
    <div *ngIf="successful">
        <small class="form-text text-muted"> Transaction Successful</small>
    </div>
</div>